<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'testapp/css/home.css' %}">
    <title>Document</title>
</head>
<body>
    <h1 id="my">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae animi quae rerum magni accusamus iusto ducimus ratione aperiam alias consequuntur, repellendus ea a qui vel illum libero soluta suscipit harum.</h1>
</body>
</html>